/* footer */

.footer {
  display: flex;
  padding: 60px 0 40px;
  min-height: 250px;
  color: #fff;
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-links {
  margin: 20px 0 16px;
}

.footer__social-icon {
  margin-right: 10px;
  align-self: center;
  width: 16px;
  height: 16px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #2f80ed;
  transform: translateX(5px);
  transition: 0.5s all;
}
