.khan__buy-link {
  margin-left: 48px;
  display: block;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  transition: 0.5s all;
}

.khan__buy-link:hover {
  opacity: .6;
}
